DEBUG=True
SECRET_KEY=django-insecure-hkb+df^q=rigx84oob5z392-jx6-)j2x_5)s)hgq7@ncnq#6hmvreav

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_password
DEFAULT_FROM_EMAIL=your_email@example.com

POSTGRES_DB=collect_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
DB_HOST=db
DB_PORT=5432
DATABASE_URL=postgresql://user:password@db:5432/collect_db

REDIS_URL=redis://redis:6379/0

ALLOWED_HOSTS=localhost,127.0.0.1,app,0.0.0.0